


body {
	background-color: white;
	color: black;
	font-family: 'Rubik', sans-serif;
}

.navbar {
	transition: 0.2s;
}


/* Home section start */

#home hr {
	border: 2px solid white;
}

#home {
	/*background-image: url(https://cdn.pixabay.com/photo/2017/08/10/05/25/girl-2618562_1280.jpg);*/
	background-color: black;
	/*background-size: cover;
	background-repeat: no-repeat;*/
	color: white;
	font-family: monospace;
}


#home h1 {
	text-align: center;
	font-size: 100px;
	padding-top: 100px;
	height: 100%;
}

#home h4 {
	padding-top: 20px;
	font-family: sans-serif;
}

#home img {
	width: 150px;
}

#home div {
	margin-top: 80px;
}

/* Home section end */

/* Bio section start */

#bio {
	background-color: white;
	padding: 20px;
	align-content: ;
	margin-top: 20px;
}

#id-pic {
  	border-style: double;
  	width: 250px;
}

.bio-name {
	color: white;
}

#bio h2 {
	text-transform: uppercase;
	text-align: center;
	background-color: #b4917a;
	color: whitesmoke;
}

#bio h3 {
	padding-top: 70px;
	color: #b4917a;
}

#bio h4 {
	color: #b4917a;
	opacity: 0.8;
}

#intro {
	margin-left: 150px;
	margin-right: 150px;
}

#bg {
	background-color: #eeeceb;
	opacity: 0.9;
}

#expertise {
	background-color: #b4917a;
	opacity: 0.9;
}

#what-i-do {

}



h2 {


}

.about-me {
	margin: 50px;
	padding: 50px;
}

.list-bio {
	list-style-type: none;
}

.job-title {
	font-weight: bold;
}

.btn {
	text-align: center;
}

.social-media {
	width: 50px;
}